@include mat.all-component-themes($my-theme);

@font-face {
  font-family: 'Bill';
  src: url('assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
}


#bill,
#billKot,
#cancelledBillKot,
#reprintBillKot,
#reprintBill {
  visibility: hidden;
  font-family: "Bill" !important;
}
*{
  font-family: "Bill" !important;
}
@page {
  size: 72mm 297mm;
  margin: 0.5cm;
}
@media print {
  body {
    width: -100%;
    visibility: hidden;
    margin: 0% !important;
    padding: 0% !important;
  }
  body #productsContainer .productCard {
    visibility: hidden;
    display: none;
  }
  body header * {
    visibility: hidden;
    display: none;
  }
  body header #searchBar {
    visibility: hidden !important;
    display: none !important;
  }
  body .ri-arrow-right-s-line,
  body .ri-arrow-down-s-fill,
  body .ri-arrow-up-s-fill {
    visibility: hidden;
    display: none;
  }
  #bill,
  #billKot,
  #cancelledBillKot,
  #reprintBillKot,
  #reprintBill {
    padding: 0% !important;
    margin: 0% !important;
    visibility: visible !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: -100%;
    box-shadow: none;
    font-size: 14px;
    overflow-x: visible;
  }
  #bill *,
  #billKot *,
  #cancelledBillKot *,
  #reprintBillKot *,
  #reprintBill * {
    overflow-x: visible;
    width: 100%;
    font-family: var(--primary-font) !important;
    margin: 3px !important;
  }
  #bill h3,
  #billKot h3,
  #cancelledBillKot h3,
  #reprintBillKot h3,
  #reprintBill h3 {
    font-size: 18px !important;
    font-weight: 700 !important;
  }
  #bill h4,
  #billKot h4,
  #cancelledBillKot h4,
  #reprintBillKot h4,
  #reprintBill h4 {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
  #bill .topFields,
  #billKot .topFields,
  #cancelledBillKot .topFields,
  #reprintBillKot .topFields,
  #reprintBill .topFields {
    font-size: 15px !important;
    text-align: start;
    font-weight: 600;
    padding-left: 10px;
  }
  #bill img,
  #billKot img,
  #cancelledBillKot img,
  #reprintBillKot img,
  #reprintBill img {
    position: relative;
    top: 0;
    margin: 30px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  #bill table,
  #billKot table,
  #cancelledBillKot table,
  #reprintBillKot table,
  #reprintBill table {
    border-top: 2px solid black;
    position: relative;
  }
  #bill table tr th,
  #billKot table tr th,
  #cancelledBillKot table tr th,
  #reprintBillKot table tr th,
  #reprintBill table tr th {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-bottom: 2px solid black;
  }
  #bill table tr tr,
  #billKot table tr tr,
  #cancelledBillKot table tr tr,
  #reprintBillKot table tr tr,
  #reprintBill table tr tr {
    border-bottom: 2px solid black;
  }
  #bill table tr th,
  #billKot table tr th,
  #cancelledBillKot table tr th,
  #reprintBillKot table tr th,
  #reprintBill table tr th,
  #bill table tr td,
  #billKot table tr td,
  #cancelledBillKot table tr td,
  #reprintBillKot table tr td,
  #reprintBill table tr td {
    text-align: center;
    font-size: 14px !important;
    font-weight: 600;
  }
  #bill table tr td:nth-child(1),
  #billKot table tr td:nth-child(1),
  #cancelledBillKot table tr td:nth-child(1),
  #reprintBillKot table tr td:nth-child(1),
  #reprintBill table tr td:nth-child(1) {
    text-align: start;
  }
  #bill hr,
  #billKot hr,
  #cancelledBillKot hr,
  #reprintBillKot hr,
  #reprintBill hr {
    border-bottom: 2px solid black;
    height: 0px;
    padding: 0px;
  }
  #bill .row,
  #billKot .row,
  #cancelledBillKot .row,
  #reprintBillKot .row,
  #reprintBill .row {
    display: flex;
    justify-content: space-between;
  }
  #bill .row h4,
  #billKot .row h4,
  #cancelledBillKot .row h4,
  #reprintBillKot .row h4,
  #reprintBill .row h4 {
    width: fit-content;
  }
  #bill .info,
  #billKot .info,
  #cancelledBillKot .info,
  #reprintBillKot .info,
  #reprintBill .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
  #bill .detail,
  #billKot .detail,
  #cancelledBillKot .detail,
  #reprintBillKot .detail,
  #reprintBill .detail {
    font-size: 14px;
    font-weight: 600;
  }
  #bill .tax,
  #billKot .tax,
  #cancelledBillKot .tax,
  #reprintBillKot .tax,
  #reprintBill .tax {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: -5px;
  }
  #bill .tax p,
  #billKot .tax p,
  #cancelledBillKot .tax p,
  #reprintBillKot .tax p,
  #reprintBill .tax p {
    margin-bottom: -5px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
  }
  #bill .total,
  #billKot .total,
  #cancelledBillKot .total,
  #reprintBillKot .total,
  #reprintBill .total {
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    font-family: 'Bill' !important;
  }
  #bill p.thanking,
  #billKot p.thanking,
  #cancelledBillKot p.thanking,
  #reprintBillKot p.thanking,
  #reprintBill p.thanking {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
}
